@model IEnumerable<HelmetStockManager.ViewModel.HelmetStockViewModel>

@{
    ViewData["Title"] = "Helmet Stock Report";
}

<h1>Item Stock Report</h1>

<form class="form-inline float-right" style="margin-bottom: 15px;">
    @using (Html.BeginForm("HelmetStockListReport", "Report", FormMethod.Get))
    {
        <input class="form-control mr-sm-2" name="search" id="search" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
        <br />
    }
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HelmetCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HelmetName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HelmetCategory)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.HelmetCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HelmetName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HelmetCategory)
                </td>
            </tr>
        }
    </tbody>
</table>

<h3>@ViewBag.Message</h3>
