@model IEnumerable<HelmetStockManager.ViewModel.UnsoldHelmetsViewModel>

@{
    ViewData["Title"] = "Unsold Helmets Report";
}

<h1>Unsold Helmets Report</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HelmetCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HelmetName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HelmetQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfLastSale)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.HelmetCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HelmetName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HelmetQuantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfLastSale)
                </td>
            </tr>
        }
    </tbody>
</table>
